In [33]:
import pandas as pd
import numpy as np

In [116]:
input = pd.read_csv('input.txt',header=None)
example = pd.read_csv('example.txt', header=None)

In [117]:
input['dir']=input.loc[:,0].apply(lambda x: x.split()[0])
input['amount']=input.loc[:,0].apply(lambda x: int(x.split()[1]))
input.head()

           0      dir  amount
0  forward 4  forward       4
1     down 8     down       8
2     down 1     down       1
3  forward 6  forward       6
4  forward 7  forward       7

In [118]:
depth = input.loc[input['dir'] == 'down', 'amount'].sum() - input.loc[input.dir == 'up', 'amount'].sum()
distance = input.loc[input.dir == 'forward', 'amount'].sum()
depth*distance

1962940

# Part 2

## Set the aim for every forward move

In [119]:
input['aim'] = np.nan
input.loc[input.dir == 'up', 'aim'] = -input.loc[input.dir == 'up', 'amount']
input.loc[input.dir == 'down', 'aim'] = input.loc[input.dir == 'down', 'amount']
input.loc[0,'aim'] = 0
# input.aim = input.aim.ffill()
input['aim_cumsum']=input.aim.cumsum()
# input.aim_cumsum = 
input['aim_cumsum_ffill'] = input.aim_cumsum.fillna(method='ffill')
input.head(15)

            0      dir  amount  aim  aim_cumsum  aim_cumsum_ffill
0   forward 4  forward       4  0.0         0.0               0.0
1      down 8     down       8  8.0         8.0               8.0
2      down 1     down       1  1.0         9.0               9.0
3   forward 6  forward       6  NaN         NaN               9.0
4   forward 7  forward       7  NaN         NaN               9.0
5      down 7     down       7  7.0        16.0              16.0
6   forward 3  forward       3  NaN         NaN              16.0
7   forward 5  forward       5  NaN         NaN              16.0
8        up 9       up       9 -9.0         7.0               7.0
9      down 1     down       1  1.0         8.0               8.0
10  forward 5  forward       5  NaN         NaN               8.0
11     down 8     down       8  8.0        16.0              16.0
12  forward 4  forward       4  NaN         NaN              16.0
13  forward 5  forward       5  NaN         NaN              16.0
14     down 5     down       5  5.0        21.0              21.0

In [120]:
input['forw'] = input.loc[input.dir=='forward', 'amount']
forward = input.forw.sum()
# input.forw=input.forw.ffill()
input['depth']=input.forw * input.aim_cumsum_ffill
input

,0,dir,amount,aim,aim_cumsum,aim_cumsum_ffill,forw,depth
0,forward 4,forward,4,0.0,0.0,0.0,4.0,0.0
1,down 8,down,8,8.0,8.0,8.0,NaN,NaN
2,down 1,down,1,1.0,9.0,9.0,NaN,NaN
3,forward 6,forward,6,NaN,NaN,9.0,6.0,54.0
4,forward 7,forward,7,NaN,NaN,9.0,7.0,63.0
...,...,...,...,...,...,...,...,...
995,down 1,down,1,1.0,974.0,974.0,NaN,NaN
996,down 5,down,5,5.0,979.0,979.0,NaN,NaN
997,down 5,down,5,5.0,984.0,984.0,NaN,NaN
998,up 4,up,4,-4.0,980.0,980.0,NaN,NaN
999,forward 5,forward,5,NaN,NaN,980.0,5.0,4900.0

In [121]:
(forward,input.depth.sum(), forward*input.depth.sum())

(2003.0, 905474.0, 1813664422.0)

Example is correct

In [7]:
(input.diff(3).dropna() > 0).sum()

0    1257
dtype: int64